/* CSS for AdvancedHTMLXBlock */

.advancedhtml_block .count {
    font-weight: bold;
}

.advancedhtml_block p {
    cursor: pointer;
}
/*
#saveEditor {
    top: 60%;
    position: absolute;
}
#advancedhtml_editor {
    width: 50% ;
    height: 50% ;
    left: 0px ;
    right: 0px;
    top: 50px ;
    bottom: 0px;
    position: absolute;
}

#AdVhTmLpReViEw {
    width: 50%;
    height: 50%;
    left: 50%;
    right: 0px;
    top: 50px;
    bottom: 0px;
    position: absolute;
}

.debug {
    top: 65%;
    position:absolute;
}
*/
.CodeMirror {
    height: 100% !important;
    width: 100% !important;
}
#settings-tab {
    height: 400px;
}
#advancedhtml_edit_wrapper {
    height: 350px;
    margin: 5px;
    padding: 5px;
    /* top: 20%; Needed for workbench only */
}
#advancedhtml_liveoption_wrapper {
    height: 100%;
}
#advancedhtml_toolbar {
    margin: 0px;
    padding: 0px;
    height: 10%;
}
#advancedhtml_workarea {
    height: 80%;
    padding: 0px;
    margin: 0px;
}
#advancedhtml_editor {
    height: 100%;
    padding: 0px;
    margin: 0px;
    position: relative;
}
#advancedhtml_preview {
    height: 100%;
    margin: 0px;
    padding: 0px;
}
#AdVeDiToR {
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    resize: both;
}
#AdVhTmLpReViEw {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}
.xblock-actions {
    height: 80%;
}