/* CSS for AdvancedHTMLXBlock */

.advancedhtml_block .count {
    font-weight: bold;
}

.advancedhtml_block p {
    cursor: pointer;
}
#saveEditor {
    top: 60%;
    position: absolute;
}
#advancedhtml_editor {
    width: 50% ;
    height: 50% ;
    left: 0px ;
    right: 0px;
    top: 50px ;
    bottom: 0px;
    position: absolute;
}

#AdVhTmLpReViEw {
    width: 50%;
    height: 50%;
    left: 50%;
    right: 0px;
    top: 50px;
    bottom: 0px;
    position: absolute;
}

.debug {
    top: 65%;
    position:absolute;
}